@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="real">
    <img src="~/Multimedia/Bilder/13Titel.jpg" alt="real" width="800" height="400" />
    <img src="~/Multimedia/Bilder/realmadrid.jpg" alt="realmad" width="800" height="400" />

</div>


<table class="ronaldo" width="400px" height="40px">
    <tr>
        <th>Rekord</th>
        <th class="anz">Anzahl</th>
    </tr>
    <tr>
        <td>Meisten Tore: Real Madrid</td>
        <td class="anz">999</td>
    </tr>
    <tr>
        <td>Meisten Spiele: Real Madrid</td>
        <td class="anz">454</td>
    </tr>
    <tr>
        <td>Meisten UCL Titel: Real Madrid</td>
        <td class="anz">13</td>
    </tr>
    <tr>
        <td>Meisten Gelbe Karten: Real Madrid</td>
        <td class="anz">123</td>
    </tr>
    <tr>
        <td>Meisten Rote Karten: Real Madrid</td>
        <td class="anz">45</td>
    </tr>

</table>



