@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<<div class="siu">
    <button onclick="playAudio()" class="btn"></button>
    <audio id="audio">
        <source src="~/Multimedia/Sounds/Siu.mp3" type="audio/mpeg" />
    </audio>

</div>

<table class="ronaldo" width="400px" height="40px">
    <tr>
        <th>Rekord</th>
        <th class="anz">Anzahl</th>
    </tr>
    <tr>
        <td>Meisten Tore</td>
        <td class="anz">140</td>
    </tr>
    <tr>
        <td>Meisten Spiele</td>
        <td class="anz">181</td>
    </tr>
    <tr>
        <td>Meisten UCL Titel</td>
        <td class="anz">5</td>
    </tr>
    <tr>
        <td>Meisten Tore in einer Saison</td>
        <td class="anz">17</td>
    </tr>
    <tr>
        <td>Meisten Vorlagen</td>
        <td class="anz">42</td>
    </tr>

</table>


<script>
    var audio = document.getElementById("audio");
    function playAudio() {
        audio.play();
    }
</script>