@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.jt {
    position: relative;
    font-size: 20vmin;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    font-display: swap;
    text-shadow: 0 0 10px tomato;
}

.jt__row {
    display: block;
}

    .jt__row:nth-child(1) {
        clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
    }

    .jt__row:nth-child(2) {
        clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
    }

    .jt__row:nth-child(3) {
        clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
    }

    .jt__row:nth-child(4) {
        clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
    }

    .jt__row.jt__row--sibling {
        position: absolute;
        top: 0;
        left: 0;
        user-select: none;
        witdh: 800px;
    }

.jt__text {
    display: block;
    transform-origin: bottom left;
    animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite;
}

.jt__row:nth-child(1) .jt__text {
    transform: translateY(-0.1em);
}

.jt__row:nth-child(2) .jt__text {
    transform: translateY(-0.3em) scaleY(1.1);
}

.jt__row:nth-child(3) .jt__text {
    transform: translateY(-0.5em) scaleY(1.2);
}

.jt__row:nth-child(4) .jt__text {
    transform: translateY(-0.7em) scaleY(1.3);
}

.jt__row:nth-child(5) .jt__text {
    transform: translateY(-0.9em) scaleY(1.4);
}

.jt__row:nth-child(6) .jt__text {
    transform: translateY(-1.1em) scaleY(1.5);
}

@keyframes moveIn {
    50%, 100% {
        transform: translateY(0em)
    }

    0% {
        opacity: 0;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}



.debug .jt__row:nth-child(even) {
    color: black;
    background: white;
}

.debug .jt__row:nth-child(odd) {
    color: white;
    background: black;
}

* {
    box-sizing: border-box
}

html, korper {
    margin: 0;
    background: url("https://www.datocms-assets.com/15991/1579538579-screen-shot-2020-01-20-at-16-40-42-copy.png?auto=format") no-repeat center center fixed;
    ;
    color: tomato;
    height: 100%;
}

korper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.jt {
    position: relative;
    font-size: 20vmin;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    font-display: swap;
    text-shadow: 0 0 10px tomato;
}

.jt__row {
    display: block;
}

    .jt__row:nth-child(1) {
        clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
    }

    .jt__row:nth-child(2) {
        clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
    }

    .jt__row:nth-child(3) {
        clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
    }

    .jt__row:nth-child(4) {
        clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
    }

    .jt__row.jt__row--sibling {
        position: absolute;
        top: 0;
        left: 0;
        user-select: none;
        witdh: 800px;
    }

.jt__text {
    display: block;
    transform-origin: bottom left;
    animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite;
}

.jt__row:nth-child(1) .jt__text {
    transform: translateY(-0.1em);
}

.jt__row:nth-child(2) .jt__text {
    transform: translateY(-0.3em) scaleY(1.1);
}

.jt__row:nth-child(3) .jt__text {
    transform: translateY(-0.5em) scaleY(1.2);
}

.jt__row:nth-child(4) .jt__text {
    transform: translateY(-0.7em) scaleY(1.3);
}

.jt__row:nth-child(5) .jt__text {
    transform: translateY(-0.9em) scaleY(1.4);
}

.jt__row:nth-child(6) .jt__text {
    transform: translateY(-1.1em) scaleY(1.5);
}

@keyframes moveIn {
    50%, 100% {
        transform: translateY(0em)
    }

    0% {
        opacity: 0;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}



.debug .jt__row:nth-child(even) {
    color: black;
    background: white;
}

.debug .jt__row:nth-child(odd) {
    color: white;
    background: black;
}

* {
    box-sizing: border-box
}

html, korper {
    margin: 0;
    background: url("https://www.datocms-assets.com/15991/1579538579-screen-shot-2020-01-20-at-16-40-42-copy.png?auto=format") no-repeat center center fixed;
    ;
    color: tomato;
    height: 100%;
}

korper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#google_translate_element {
    margin-top: 20px;
    margin-right: 30px;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.goog-tooltip {
    display: none !important;
}

    .goog-tooltip:hover {
        display: none !important;
    }

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Login */

.box-login {
    width: 400px;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 300%;
    transform: translate(-50%,-50%);
    background: #191919;
    opacity: 0.9;
    text-align: center;
}

    .box-login h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .box-login input[type = "text"], .box-login input[type = "password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }

        .box-login input[type = "text"]:focus, .box-login input[type = "password"]:focus {
            width: 280px;
            border-color: #2ecc71;
        }

    .box-login input[type = "submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

        .box-login input[type = "submit"]:hover {
            background: #2ecc71;
        }


/* Register */

.box-register {
    width: 400px;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
    background: #191919;
    opacity: 0.9;
    text-align: center;
}

    .box-register h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .box-register input[type = "text"], .box-register input[type = "password"], .box-register input[type="email"], .box-register input[type="date"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }

    .box-register select {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }

        .box-register select:focus,
        .box-register select:hover {
            background: #191919;
            outline: none;
            border: 1px solid #bbbbbb;
        }

    .box-register input[type = "text"]:focus, .box-register input[type = "password"]:focus, .box-register input[type="email"]:focus, .box-register input[type="date"]:focus {
        width: 280px;
        border-color: #2ecc71;
    }

    .box-register input[type = "submit"], .box-register input[type = "reset"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

        .box-register input[type = "submit"]:hover, .box-register input[type = "reset"] {
            background: #2ecc71;
        }
