
@{ ViewData["Title"] = "Index"; }

<div class="text">
    <a>
        Die UEFA Champions League ist ein Wettbewerb für europäische Fußball-Vereinsmannschaftern der Herren.
        Die Bezeichnung gilt seit der Saison 1992/93, von 1955 bis 1992 wurde das Turnier als Europapokal der Landesmeister
        ausgetragen. Der Gewinn der Champions League zählt zu den prestigeträchtigsten Erfolgen im Profifußball.

    </a>
</div>

<div class="geschichte">
    <a>
        Die Idee eines europäischen Vereinswettbewerbs beziehungsweise einer europäischen „Superliga“ kam erstmals Anfang der 1950er Jahre auf und lehnte sich an die Idee des Mitropapokals an, der von 1927 bis zum Ausbruch des Zweiten Weltkriegs ausgetragen wurde und einen populären Wettbewerb zwischen österreichischen, ungarischen, jugoslawischen, tschechoslowakischen, italienischen, schweizerischen und rumänischen Vereinsmannschaften darstellte. Ähnlich gute Erfahrungen machte man seit Ende der 1940er Jahre mit der Coupe Latine, die einen noch kleineren Teilnehmerkreis (Landesmeister aus Italien, Frankreich, Spanien und Portugal) umfasste. Der neue Europapokal, so die Idee, sollte deutlich mehr Nationen umfassen und somit klären, welche Länder die spielstärksten Vereinsmannschaften stellen. Anlass war nicht zuletzt die britische Presse, die die Klubs der Insel nach internationalen Erfolgen schon mal gerne zum Weltmeister erklärte. Ob an einem solchen Wettbewerb eine erlesene Auswahl europäischer Spitzenklubs oder alle europäischen Landesmeister teilnehmen sollten, war seinerzeit jedoch noch eine Streitfrage.
    </a>
</div>
