
@{ ViewData["Title"] = "Index"; }

<div class="text">
    <a>
        Die UEFA Champions League ist ein Wettbewerb für europäische Fußball-Vereinsmannschaftern der Herren.
        Die Bezeichnung gilt seit der Saison 1992/93, von 1955 bis 1992 wurde das Turnier als Europapokal der Landesmeister
        ausgetragen. Der Gewinn der Champions League zählt zu den prestigeträchtigsten Erfolgen im Profifußball.

    </a>
</div>

