@{ ViewData["Title"] = "Index"; }



<link rel="stylesheet" href="~/css/home.css" />
<h1 class="jt --debug">
    <span class="jtrow">
        <span class="jttext">Champions League</span>
    </span>
</h1>




<<div class="text">
    Die UEFA Champions League [uˈeːfa ˈtʃæmpiənz liːg] (In Deutschland auch Königsklasse genannt) ist ein Wettbewerb für europäische Fußball-Vereinsmannschaften der Herren. Ausgetragen wird sie, wie die UEFA Europa- und Conference League, unter dem Dach des Europäischen Fußballverbandes UEFA. Die Bezeichnung gilt seit der Saison 1992/93, von 1955 bis 1992 wurde das Turnier als Europapokal der Landesmeister ausgetragen. Der Gewinn der Champions League zählt zu den prestigeträchtigsten Erfolgen im Profifußball.

    Rekordsieger des Wettbewerbs ist Real Madrid mit 14 Titelgewinnen, der die ersten fünf Austragungen des Wettbewerbs für sich entscheiden konnte, gefolgt von der AC Mailand mit 7 Titelgewinnen sowie dem FC Bayern München und FC Liverpool mit jeweils 6 Titelgewinnen. Die deutschen Vereine Hamburger SV und Borussia Dortmund waren jeweils einmal erfolgreich.

    Der Sieger der Champions League qualifiziert sich für die Teilnahme am UEFA Super Cup, der FIFA-Klub-Weltmeisterschaft sowie für die nächste Austragung des Wettbewerbs.

</div>


<img src="~/Multimedia/Bilder/Pokal.jpg" class="w3-round-small">