<link rel="stylesheet" href="~/css/dropDown.css" />

<ul class="nav">
    <li>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Farbwahl</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a href="#about">Blau</a>
                <a href="#base">Lila</a>
                <a href="#blog">Weis</a>
            </div>
        </div>

    <li>
        <a class="nav-link text-dark" href="/home/Tabelle">Tabelle</a>
    </li>


    <li>
        <a class="nav-link text-dark" href="/home/Rekordhalter">Rekordhalter</a>
    </li>
</ul>


<script>/* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
    }
</script>