<ul class="nav">
    <li>
        <a class="nav-link text-dark" href="/home/Rekordhalter">Rekordhalter</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/home/Ranking">Ranking</a>
    </li>
    <li>
        <a class="nav-link text-dark" href="/home/Tabelle">Tabelle</a>
    </li>
</ul>

    