@model Fussball_Website.Models.User;
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/Login.css" />
<body>
    <h1></h1>

    <form class="box" asp-controller="user" asp-action="login" method="post">
        <h1>Login</h1>
        <p>
            <label> Email </label><br />
            <input type="text" asp-for="EMail" />
            <span asp-validation-for="EMail"></span>
        </p>
        <p>
            <label> Password </label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <input type="submit" value="absenden" />
        </p>
    </form>
</body>